<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>AngularJS example - MelchiorJS</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<style>
		body {
			background: #fff;
			padding: 10px 50px;
			font-size: .95em;
		}

		#app {
			margin: 30px auto;
		}

		#load {
			display: block;
			margin: 100px auto;
		}

		a {
			color: #c0392b;
		}

		.overview {
			padding: 0 25px 0 35px;
		}

		.pure-menu li.active a {
			background: #eee;
		}

		#app .pure-menu input {
			margin: 10px 0;
			border-right: 0;
			border-left: 0;
			border-radius: 0;
		}
	</style>
</head>
<body>
	<h1>Angular.js demo</h1>

	<p>Simple <a href="https://angularjs.org/">Angular.js</a> application displaying programming languages catalog from <a href="http://www.wikipedia.org/">Wikipedia</a>.</p>

	<!-- Generic preloader -->
	<img src="img/preloader.gif" id="load" width="48">

	<!-- Application layout -->
	<div id="app" style="display:none;" class="pure-g">
		<div class="pure-u-1-4">
			<div class="pure-menu pure-menu-open" ng-controller="MenuController">
				<a href="#" class="pure-menu-heading">Languages</a>
				<form class="pure-form pure-form-stacked">
					<input type="text" ng-model="languageSearchQuery" placeholder="Filter Languages" class="pure-input-1">
				</form>
				<ul>
					<li ng-repeat="language in languages | filter: languageSearchQuery" ng-class="navigationClass(language)">
						<a href="#/languages/{{language.uid}}">{{language.name}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="pure-u-3-4">
			<div ng-view></div>
		</div>
	</div>

	<!-- Angular template views  -->
	<script type="text/ng-template" id="MainView">
		<div class="overview">
			<h2>Usage explanation</h2>
			<p>
				Please select a programming language on the left sidebar to retrieve details
			about it.
			</p>

			<h2>Searching</h2>
			<p>
				You may use the inputbox above the languages to filter them.
			</p>

			<h2>Information Source</h2>
			<p>
				The source for all the programming language information provided within
			this application is the <a href="http://en.wikipedia.org">Wikipedia</a>.
			</p>
		</div>
	</script>

	<script type="text/ng-template" id="LangView">
		<div class="overview">
			<h1>{{language.name}}</h1>
			<table class="pure-table pure-table-bordered">
				<tr>
					<td><b>Name:</b></td>
					<td>{{language.name}}</td>
				</tr>
				<tr ng-show="language.url">
					<td><b>Homepage:</b></td>
					<td><a href="{{language.url}}">{{language.url}}</a></td>
				</tr>
				<tr>
					<td><b>Wikipedia (Source):</b></td>
					<td><a href="{{language.wiki}}">{{language.wiki}}</a></td>
				</tr>
			</table>

			<h2>Description</h2>
			<p ng-repeat="paragraph in language.description |limitTo: 10">
				{{paragraph}}
			</p>
		</div>
	</script>

	<!-- Melchior entry point -->
	<script src="../../src/melchior.js" type="text/javascript" data-main="js/main.js"></script>
</body>
</html>
